{% load static %}
{% with request.resolver_match.view_name as view_name %}


<header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="">
          <img src=" {% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          GYMMY CATS
        </a>        
        <ul class="nav  nav-pills">
          <li class="nav-item">
            
            <a class="nav-link {% if view_name  == '' %}active{% endif %} " href="">
              Ivents
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link {% if  view_name == '' %}active{% endif %} " href="">
              Subscription
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if  view_name == '' %} active {% endif %}" href="">
              Нomepage
            </a>
          </li>
        </ul>      
      </div>
    </nav> 
  </header>

{% endwith %}